# Node.js
node_modules/
npm-debug.log
package-lock.json

# Output JSON
games.json

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Logs
logs/
*.log

# Playwright specific (se usi screenshots/video)
test-results/
playwright-report/
